<!DOCTYPE html>
<html lang="ru">

{% load static %}
{% include 'head.html' %}


<body>
	<div class="wrapper">

		{% include 'headerAdmin.html' %}
		<main class="page cabinet">
			<div class="cabinet__container">
				<div class="cabinet__body">
					<h1 class="cabinet__title">Личные данные</h1>

					<div class="cabinet__content">
						<ul class="cabinet__nav">
							<li class="cabinet__nav-item">
								<a href="#" class="cabinet__nav-link">
									<h4 class="cabinet__nav-title cabinet__nav-active">Личные данные</h4>
								</a>
							</li>
						</ul>

						<div class="cabinet__info">
							<form action="" data-dev class="cabinet__data">
								<div class="cabinet__info-block">
									<h3>Ваше имя</h3>
									<input type="text" value="" data-required data-error="Поле обязательно для ввода" class="cabinet__data-name">
								</div>
								<div class="cabinet__info-block">
									<h3>Ваша фамилия</h3>
									<input type="text" value="" data-required data-error="Поле обязательно для ввода" class="cabinet__data-lastname">
								</div>
								<div class="cabinet__info-block">
									<h3>Ваш логин</h3>
									<input type="text" value="" data-required data-error="Поле обязательно для ввода" class="cabinet__data-login">
								</div>
								<div class="cabinet__info-block">
									<h3>Ваш номер телефона</h3>
									<input type="tel" class="popup__phone cabinet__data-phone" value="" data-required data-error="Поле обязательно для ввода" placeholder="Телефон">
								</div>
								<div class="cabinet__info-block">
									<h3>Ваш пароль</h3>
									<div class="cabinet__data-pssr">
										<input type="password" value="" data-required data-error="Поле обязательно для ввода" class="cabinet__data-password">
										<button class="form__viewpass cabinet__data-show" type="button"></button>
									</div>
								</div>
								<div class="cabinet__info-block">
									<h3>Ваша почта</h3>
									<input type="email" value="" data-required data-error="Поле обязательно для ввода" class="cabinet__data-email">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="footer__container">
				</div>
			</footer>
		</main>
	</div>
	<script src="../static/js/cabinet.js"></script>
	<script src="../static/js/app.js"></script>
</body>

</html>