<header class="header">
    <div class="header__container">
        <div class="header__body">
            <a href="{% url 'home' %}" class="header__logo">
                <img src="../static/img/header__logo.svg" alt="sneakers__logo" class="header__logo-img">
                <div class="header__logo-title">
                    <h2 class="header__logo-h2">react sneakers</h2>
                    <h3 class="header__logo-h3">Магазин лучших кроссовок</h3>
                </div>
            </a>
            <button class="header__body-logout">Выйти</button>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}